/* Payment.css */

.payment-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top:10px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .card-details {
    display: flex;
    justify-content: space-between;
  }
  
  .card-detail {
    flex: 1;
    margin-right: 10px;
  }
  
  .pay-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .pay-button:hover {
    background-color: white;
    color:#45a049
  }
  