/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-content {
        margin: 0;
        padding: 2em 1em;   
}
.container {
    width: 100%;
    padding: 0;
    margin: 0;
}
.row {
    padding: 0;
    margin: 0;
}
.page-content{
    margin: 0;
    background-color: aquamarine;
}
.services {
    margin-bottom: 3em;
} */

.about {
    padding: 60px 0;
    background-color: #f8f9fa; /* Set the background color as needed */
    text-align: center; /* Center align the content */
}

.container {
    max-width: 960px; /* Set the maximum width of the container */
    margin: 0 auto;
    padding: 0 15px;
}

.box {
    background-color: #ffffff; /* Set the background color of the box */
    border-radius: 10px; /* Set border radius as needed */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
    padding: 40px;
}

.box img {
    width: 40%; /* Make the image fill the container */
    border-radius: 10px; /* Optional: Add border radius to the image */
    margin-bottom: 20px; /* Add some bottom margin to the image */
}

.heading-section {
    text-align: center;
}

.subheading {
    font-size: 18px;
    color: #333;
    text-decoration: underline;
    
}

h2.ujj {
    font-size: 36px;
    color: #333;
    margin-top: 10px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff; /* Default button color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; /* Button color on hover */
}