 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.error-container {
    text-align: center;
}
.error-container .btn {
    min-width: 150px;
    font-size: 14px;
    margin: 0;
    padding: 8px 15px;
}

h1 {
    font-size: 8em;
    margin: 0;
     color: #e74c3c;     /*Red color for the error code */
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}


 



/* * {
    box-sizing: border-box;
} */
 /* body{
    border: 20px ;
    display: block;
    margin: 5px;
    padding-right: 0px;
}

.dr-not-found {
    padding-top: 150px;
}
.error-section {
    margin: 0;
    padding: 40px 0;
}
.container {
    max-width: 100%;
} 
/* .container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
} */
/* .justify-content-center {
    justify-content: center!important;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.text-center {
    text-align: center!important;
}
.error-img {
    padding-bottom: 25px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.error-content h2 {
    font-size: 22px;
}
.error-content p {
    font-size: 14px;
    margin-bottom: 20px;
}
.error-content .btn {
    min-width: 150px;
    font-size: 14px;
    margin: 0;
    padding: 8px 15px;
}  */