@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;800&family=Source+Sans+3:wght@200;300;400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    line-height: 1.6;

}
h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 18px;
    color: black ;
}
#search-button{
    padding: 10px 20px;
    background-color: rgb(101, 101, 165);
    color: aliceblue;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}
.search-results {
    display: flex
    ;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    margin: 10px;
}
.search-result{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    overflow: hidden;

}
 .search-result img{
    width: 100%;
    height: 200px;
     object-fit: cover;
    
    transition: opacity 0.2s ease-in-out; 

}
.search-result:hover img{
    opacity: 0.8;
}

.search-result a{
    font-size: 20px;
    text-decoration: none;
    color: gray;
    display: block;
    padding: 10px;
    text-transform: capitalize  ;
}
 #show-more-button{ 
    background-color:   blue;
    font-size: 18px;
    border: none;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
} 

@media  screen and (max-width: 768px){
    .search-results{
        padding: 20px;
    }
    .search-result{
        width: 45%;
    }
}

@media  screen and (max-width: 480px){
    .search-result{
        width: 100%;
    }
}