.banner_img{
    width: 100%;
    height: 280px;
  

    
}

.carasousel{
    margin-top: 10;
}


@media (max-width:768px){
    .banner_img{
        object-fit: cover;
        height: 200px;
    }
}
