{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="container-fluid" style="background-color: white;">
  <!-- Breadcrumb -->
  <section id="bc" class="container">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          {%if user.is_authenticated%}
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard1' %}">{{user.first_name}}'s Dashboard</a>
          </li>
          {%endif%}
          <li class="breadcrumb-item">
            <a href="">View {{coursekey}} Course</a>
          </li>
        </ol>
      </nav>
    </div>
  </section>

  <!--Breadcrumb Ends here -->
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="{{coursekey.image.url}}" height="auto" width="auto" alt="CourseImage">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Course Name : {{coursekey.name}}</h2>
        <h2>Instructor : {{coursekey.counsellor_id.firstName}} {{coursekey.counsellor_id.lastName}}</h2>
        <h2>Course Description : {{coursekey.description}}</h2>
        <h2>Course Duration : {{coursekey.duration}}</h2>
        <h2>Total Units : 5 </h2>
        {%if user.is_authenticated %}
        <a href="javascript:{document.getElementById('enroll').submit()}" class="btn btn-outline-primary">Click here to
          enroll in this course </a>
        <form class="container" method="POST" action="{%url 'doenroll' coursekey.courses_id %}" id="enroll">
          {% csrf_token %}
          <input type="hidden">
        </form>
        {%else%}
        <a href="{% url 'login'%}" class="btn btn-outline-primary">Log in to enroll in this course </a>
        {%endif%}
      </div>
    </div>
  </div>
</div>
{%endblock%}