<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <section class="about">
                <div class="container">
                    <div class="box">
                        <img src="../static/img/image4.jpg">
                        <div class="box1"> 
                  <div class="heading-section">
        
        
                      <span class="subheading">About us</span>
                      
                      <h2 class="ujj">Welcome to Carpool </h2>
        
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p><a href="#" class="btn ">Search Vehicle</a></p>
                  </div>
                        </div>
                    </div>
                </div>
    </section>

</body>
</html>