<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Available Rides</title>
  <link href="../static/css/available ride.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="logo-container">
       <img src="../static/img/carpool.png" alt="carpool logo">
       <h1>Car Pool</h1>
        </div>
      <nav>
        <a href="#">Home</a>
        <a href="about.html">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
      </nav>
                
      
      <div class="user log">
        <a href="login.html">          
            <i class="fa-solid fa-user"></i>
                <font style="vertical-align: inherit;">Log in</font>
              </a>
              /
              <a href="signin.html">
                  <font style="vertical-align: inherit;">Sign Up</font>
                  
              </a>
          </div>
      </header> 
  
      <h1>Available rides</h1>



    

    
    <div class="container">
        
        <div class="ride-card">
            <div class="image1">
                <img src="../static/img/sedan2.jpeg">
            </div>
            <div class="content">
                <h2>User: Alice</h2>
                <p>Ride Type: Sedan</p>
                <p>Pickup Location: Delhi</p>
                <p>Drop Location: Jaipur</p>
                <p>Seats Available: 3</p>
            </div>
            <div class="button">
                <button>Book Ride </button>
            </div>
        </div>
      

        
        
        <div class="ride-card">
            <div class="image1">
                <img src="../static/img/suv.jpg">
            </div>
            <div class="content">
                <h2>User: Bob</h2>
                <p>Ride Type: SUV</p>
                <p>Pickup Location: Meerut</p>
                <p>Drop Location: Dheradhun</p>
                <p>Seats Available: 3</p>
            </div>
            <div class="button">
                <button>Book Ride</button>
            </div>
        </div>
      


        <div class="ride-card">
            <div class="image1">
                <img src="../static/img/bike.jpg">
            </div>
            <div class="content">
                <h2>User: Carol</h2>
                <p>Ride Type: Motorcycle</p>
                <p>Pickup Location: Noida</p>
                <p>Drop Location: Gurugram</p>
                <p>Seats Available: 1</p>
            </div>
            <div class="button">
                <button>Book Ride</button>
            </div>
        </div>


    </div>
  </body>
  
</html>
