<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Pool- Home page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="/about">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<script src="../js/main.js"></script>
<body>
  <!---------------------------------------- HEADING---------------------------- -->
    <header class="header">
      <div class="logo-container">
     <img src="../static/img/carpool.png" alt="carpool logo">
     <h1>Car Pool</h1>
      </div>
    <nav>
      <a href="#">Home</a>
      <a href="/about">About</a>
      <a href="/services">Services</a>
      <a href="/contact">Contact</a>
      <a href="/publish-ride">Publish</a>
    </nav>
    
    <div class="user log">
            <a href="/log-in">
                <i class="fa-solid fa-user"></i>
                <font style="vertical-align: inherit;">Log in</font>
            </a>
            /
            <a href="/sign-up">
                <font style="vertical-align: inherit;">Sign Up</font>
                
            </a>
        </div>
    </header> 

    



    <!-- ==============================================
                        Welcome to carpool
  =================================================== -->


  <section class="two">
    <div class="home" >
        <img src="../static/img/image2.jpg">
        <h1> Welcome</h1>
        <h2>To Car Pool</h2>
        
<a href="#find" id="find" class="btn"></a>
    </div>  
  </section>  


<!-- section 1 top banner -->
<!-- <section id="home">
  <div class="container-fluid px-0 top-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <h1>Good Food choices are good investement</h1>
          <p> ujjawltaygai swfdyhxjbsjkx uwu</p>
          <div class="mt-4">
            <button class=" main-btn">Order now <i class="fas fa-shopping-basket ps-3"></i></button>
            <button class=" white-btn ms-lg-4 mt-4">Order now <i class="fas fa-angle-right ps-3"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  -->

    
<!------================================================
                                OFFER A RIDE
========================================================-->

<div class="containerr">
  <h2>Ride available</h2>
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="pickup">Pickup Location:</label>
    <input type="text" id="pickup" name="pickup" required><br>

    <label for="dropoff">Drop-off Location:</label>
    <input type="text" id="dropoff" name="dropoff" required><br>

    <label for="rideType">Ride Type:</label>
    <select id="rideType" name="rideType" required>
      <option value="sedan">Sedan</option>
      <option value="suv">SUV</option>
      <option value="motorcycle">Motorcycle</option>
    </select><br>

    <a href="available ride.html"><button type="submit">Register Ride</button></a>
  </form>
</div>
     
   
<!--================================================
                        4th SECTION
==================================================== -->
   

<section id="bottom">
<table>
<tr>
    <th>
        <i class="fa-solid fa-coins"></i>
   <h1>Your pick of rides at low prices</h1>
<h4>No matter where you’re going, by bus or carpool,
find the perfect ride from our wide range of destinations and
routes at low prices.</h4>
    </th>

    <th>
        <i class="fa-brands fa-squarespace"></i>
        <h1>Trust who you travel with</h1>
        <h4>We take the time to get to know each of our members and bus partners.
            We check reviews, profiles and IDs, so you know who you’re travelling with and can book
            your ride at ease on our secure platfor</h4>
            
        
    </th>

    <th>
        <i class="fa-solid fa-bolt-lightning"></i>
        
         <h1>Scroll, click, tap and go!</h1>
        <h4>Booking a ride has never been easier!
            Thanks to our simple app powered by great technology,
            you can book a ride close to you in just minutes.</h4>
    
    </th>
  </tr>
</table>
</section>



<!---========================================
                            ABOUT US
========================================= -->

    <section class="about">
        <div class="container">
            <div class="box">
                <img src="../static/img/image3.jpg">
                
                <div class="box1"> 
          <div class="heading-section">


              <span class="subheading">About us</span>
              
              <h2 class="ujj">Welcome to Carpool </h2>

            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p><a href="#" class="btn ">Search Vehicle</a></p>
          </div>
                </div>
            </div>
        </div>
    </section>




<!---==========================================================
                 YOUR SAFETY IS OUR PRIORITY
=============================================================== -->
                <div class="uj">
                    <div class="ujimg">
                        <img src="../static/img/scamDetective-653544b71d88f51797db.svg" alt="Safety icon">
                    </div>
                    <div class="ujj">
                        <h1>Your safety is our priority</h1>
                        <h3>At CarPool, we're working hard to make our platform as secure as it can be.
                            But when scams do happen, we want you to know exactly how to avoid and report them.
                            Follow our tips to help us keep you safe.</h3>
                    </div>
                </div>


<!-- ===========================================================
                                      WE SERVE
============================================================= -->
                <div class="weserve">
                    <div class="box">
                        <h1>We Serve!</h1>
                        <div class="search-results">
                            <div class="search-result">
                                <img src="https://images.unsplash.com/photo-1482514194978-3ed8cc9d86c6?auto=format&fit=
                                crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Local Pic">
                                <!-- <a href="https://unsplash.com/photos/gray-and-brown-local-sign-acNPOikiDRw" 
                                target="_blank">Local</a> -->
                                <h5>Local</h5>
                            </div>
                    
                            <div class="search-result">
                                <img src="https://images.unsplash.com/photo-1554123168-b400f9c806ca?auto=format&fit=crop&q=80&w=1470&ixlib=
                                rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Airport Pic">
                                <!-- <a href="https://unsplash.com/photos/man-sitting-on-gang-chair-near-window-qK6HAkB91Yc"
                                target="_blank">Airport Transfer</a> -->
                                <h5>Airport</h5>
                            </div>
                            
                            <div class="search-result">
                                <img src="https://images.unsplash.com/photo-1470770841072-f978cf4d019e?auto=format&fit=crop&q=80&w=
                                1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Outstation Pic">
                                <!-- <a href="https://unsplash.com/photos/brown-house-near-body-of-water-zAjdgNXsMeg" 
                                target="_blank">Outstation</a>-->
                                <h5>Outstation</h5>
                            </div>
                        </div>
                    </div>
                </div>




<!--*********************************************************
                            How it work
********************************************************** -->

<section class="work-section">
  <div class="container">
  <div class="row">
  <div class="col-lg-4 col-md-12 work-img-info aos aos-init aos-animate" data-aos="fade-up">
  <div class="work-img">
  <img src="C:\Users\hp\OneDrive\Desktop\Car pool 1\static\img\person_1.jpg" class="img-fluid" alt="image">
  </div>
  </div>
  <div class="col-lg-8 col-md-12 work-details">
  <div class="section-header-one aos aos-init aos-animate" data-aos="fade-up">
  <h5>How it Works</h5>
  <h2 class="section-title">
  </h2>
  </div>
  <div class="row">
  
  <div class="col-lg-6 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
  <div class="work-info">
  <div class="work-icon">
  <span>
  <img src="C:\Users\hp\OneDrive\Desktop\Car pool 1\static\img\person_1.jpg" alt="image">
  </span>
  </div>
  <div class="work-content">
  <h5>Search Doctor</h5>
  <p>"Easily find and connect with the right doctor for you with a simple click.
      Discover a wide range of qualified healthcare professionals at your fingertips."
  </p>
  </div>
  </div>
  </div>
  
  <div class="col-lg-6 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
  <div class="work-info">
  <div class="work-icon">
  <span>
  <img src="C:\Users\hp\OneDrive\Desktop\Car pool 1\static\img\person_1.jpg" alt="image">
  </span>
  </div>
  <div class="work-content">
  <h5>Check Doctor Profile</h5>
  <p>"Explore doctor profiles for comprehensive information on qualifications,
      specialties, and patient feedback to make informed decisions for personalized healthcare."
  </p>
  </div>
  </div>
  </div>


  
  <div class="col-lg-6 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
    <div class="work-info">
    <div class="work-icon">
    <span>
    <img src="C:\Users\hp\OneDrive\Desktop\Car pool 1\static\img\person_1.jpg" alt="image">
    </span>
    </div>
    <div class="work-content">
    <h5>Search Doctor</h5>
    <p>"Easily find and connect with the right doctor for you with a simple click.
        Discover a wide range of qualified healthcare professionals at your fingertips."
    </p>
    </div>
    </div>
    </div>
    
    <div class="col-lg-6 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
    <div class="work-info">
    <div class="work-icon">
    <span>
    <img src="C:\Users\hp\OneDrive\Desktop\Car pool 1\static\img\person_1.jpg" alt="image">
    </span>
    </div>
    <div class="work-content">
    <h5>Check Doctor Profile</h5>
    <p>"Explore doctor profiles for comprehensive information on qualifications,
        specialties, and patient feedback to make informed decisions for personalized healthcare."
    </p>
    </div>
    </div>
    </div>
    
  
  
  </div>
  </div>
  </div>
  </div>
  </section>



   <!-- <section class="ftco-section testimony-section bg-light">
                    <div class="container">
                      <div class="row justify-content-center mb-5">
                        <div class="col-md-7 text-center heading-section ftco-animate">
                            <span class="subheading">Testimonial</span>
                          <h2 class="mb-3">Happy Clients</h2>
                        </div>
                      </div>
                      <div class="row ftco-animate">
                        <div class="col-md-12">
                          <div class="carousel-testimony owl-carousel ftco-owl">
                            <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                                </div>
                                <div class="text pt-4">
                                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                  <p class="name">Roger Scott</p>
                                  <span class="position">Marketing Manager</span>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/person_2.jpg)">
                                </div>
                                <div class="text pt-4">
                                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                  <p class="name">Roger Scott</p>
                                  <span class="position">Interface Designer</span>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/person_3.jpg)">
                                </div>
                                <div class="text pt-4">
                                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                  <p class="name">Roger Scott</p>
                                  <span class="position">UI Designer</span>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                                </div>
                                <div class="text pt-4">
                                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                  <p class="name">Roger Scott</p>
                                  <span class="position">Web Developer</span>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                                </div>
                                <div class="text pt-4">
                                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                  <p class="name">Roger Scott</p>
                                  <span class="position">System Analyst</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>  -->



<!-- ========================================================
                                 Testimonal 
==============================================================-->

                  <!-- <div class="testimony">
                    <h2>Testimonials</h2>
                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <p class="position">Marketing Manager</p>
                </div>
              
                <div class="testimony">
                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <p class="position">Interface Designer</p>
                </div>
              
                <div class="testimony">
                    <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <p class="position">UI Designer</p>
                </div>
              
                <div class="testimony">
                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <p class="position">Web Developer</p>
                </div>
              
                <div class="testimony">
                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <p class="position">System Analyst</p>
                </div>     ----------->
<section class="uday">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Testimonial</span>
      <h2 class="mb-3">Happy Clients</h2>
      </div>
    </div>
    <div class=""></div>
  </div>
</section>

<!-- ===================================================
                           Terms and condition
========================================================-->
    <section class="terms">
    <div class="term">
        
        <li> <a href="term.html">Term and condition</a></li>
    </div>

    </section>



    
  <!-- Your webpage content goes here -->

  <footer>
    <p>&copy; 2023 Your Website Name. All Rights Reserved.</p>
  </footer>

<!-- *********************************************************************************************** -->
    
  
  
  </div>
  </div>
  </div>
  </div>
  </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>