<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ride not Available</title>
    <link rel="stylesheet" href="../static/css/not-available-ride.css">
</head>
<body>
    <div class="error-container">
        <h1>404</h1>
        <p>Oops! The page you're looking for could not be found.</p>
         <a href="Home page.html" class="btn btn-primary prime-btn">Go back to home</a> 
    </div>



    <!-- ******************************************************************* -->


<!-- 
     <section class="error-section dr-not-found">
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 text-center">
        <div class="error-info">
        <div class="error-img">
        <img src="../static/assets/img/error-500.jpg" class="img-fluid" alt="image">
        </div>
        <div class="error-content">
        <h2>Sorry! Ride Can’t Be Found.</h2>
        <p>We are working to expand this service in all cities.</p>
        <a href="/" class="btn btn-primary prime-btn">Back to Home</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section> -->
        
</body>
</html>