<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/services.css">
</head>
<body>


    <header class="header">
        <div class="logo-container">
       <img src="../static/img/carpool.png" alt="carpool logo">
       <h1>Car Pool</h1>
        </div>
      <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="services.html">Services</a>
        <a href="#">Contact</a>
      </nav>
      
      <div class="user log">
              <a href="log-in.html">
                  <i class="fa-solid fa-user"></i>
                  <font style="vertical-align: inherit;">Log in</font>
              </a>
              /
              <a href="sign-up.html">
                  <font style="vertical-align: inherit;">Sign Up</font>
                  
              </a>
          </div>
      </header> 

    <div class="weserve">
        <div class="box">
            <h1>We Serve!</h1>
            <div class="search-results">
                <div class="search-result">
                    <img src="https://images.unsplash.com/photo-1482514194978-3ed8cc9d86c6?auto=format&fit=
                    crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Local Pic">
                    <a href="https://unsplash.com/photos/gray-and-brown-local-sign-acNPOikiDRw"
                    target="_blank">Local</a>
                </div>
        
                <div class="search-result">
                    <img src="https://images.unsplash.com/photo-1554123168-b400f9c806ca?auto=format&fit=crop&q=80&w=1470&ixlib=
                    rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Airport Pic">
                    <a href="https://unsplash.com/photos/man-sitting-on-gang-chair-near-window-qK6HAkB91Yc"
                    target="_blank">Airport Transfer</a>
                </div>
                
                <div class="search-result">
                    <img src="https://images.unsplash.com/photo-1470770841072-f978cf4d019e?auto=format&fit=crop&q=80&w=
                    1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Outstation Pic">
                    <a href="https://unsplash.com/photos/brown-house-near-body-of-water-zAjdgNXsMeg"
                    target="_blank">Outstation</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>