<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Pool- Sign in </title>
    <link rel="stylesheet" href="../static/css/sign-up.css">
</head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up and Sign In Page</title>
       
    </head>
    <body>
        <header class="header">
            <div class="logo-container">
           <img src="../static/img/carpool.png" alt="carpool logo">
           <h1>Car Pool</h1>
            </div>
          <nav>
            <a href="#">Home</a>
            <a href="about.html">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
          </nav>
          
          <div class="user log">
                  <a href="login.html">
                      <i class="fa-solid fa-user"></i>
                      <font style="vertical-align: inherit;">Log in</font>
                  </a>
                  /
                  <a href="signin.html">
                      <font style="vertical-align: inherit;">Sign Up</font>
                      
                  </a>
              </div>
          </header> 



          <div class="container"> 
            <h2>SignUp</h2>
            <!-- <form action="/your-server-endpoint" method="post">
                <h2>Sign Up</h2>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
        
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
        
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
        
                <button type="submit">Sign Up</button>
            </form> -->
            <form action="/register" method="post" class="form-group">
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="email" name="email" placeholder="Email" required><br>
                <input type="password" name="password" placeholder="Password" required><br>
                <input type="submit" value="Sign Up" class="btn">
            </form> 
    
           
        </div>
    </body>
    
    </html>
    
    
</body>
</html>