<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and condition</title>
    <link rel="stylesheet" href="../static/css/term.css">
    
</head>
<body>
    <body>
        <div class="content">
            <h1>Terms and Conditions</h1>
            <p>
                These terms and conditions outline the rules and regulations for the use of this website. By accessing this
                website, we assume you accept these terms and conditions. Do not continue to use this website if you do not
                agree to all the terms and conditions stated on this page.
            </p>
    
            <h2>License</h2>
            <p>
                Unless otherwise stated, this website and/or its licensors own the intellectual property rights for all
                material on this website. All intellectual property rights are reserved. You may view and/or print pages
                from this website for your own personal use subject to restrictions set in these terms and conditions.
            </p>
    
            <h2>Restrictions</h2>
            <p>
                You are specifically restricted from all of the following:
            </p>
            <ul>
                <li>publishing any website material in any other media;</li>
                <li>selling, sublicensing, and/or otherwise commercializing any website material;</li>
                <li>publicly performing and/or showing any website material;</li>
                <li>using this website in any way that is or may be damaging to this website;</li>
                <li>using this website in any way that impacts user access to this website;</li>
                <li>using this website contrary to applicable laws and regulations, or in any way that may cause harm to the
                    website, or to any person or business entity;</li>
                <li>engaging in any data mining, data harvesting, data extracting, or any other similar activity in relation
                    to this website;</li>
                <li>using this website to engage in any advertising or marketing.</li>
            </ul>
    
        </div>
    </body>
    
</body>
</html>