<% layout('layouts/boilerplate')%>

    <div class="About-us">
        <div class="about_bg">
            <img src="/images/9.avif" alt="">
        </div>
        <div class="about_para">
            <p>Our website Pantry2Plate is the complete solution for all the cooking related problems</p>
            <hr>
            <p>Pantry2Plate is a recipe search engine with a goal of helping people who cook from home with an easy to use search tool by using ingredients they have at home and getting recipes that match. Users of My Pantry simply input the ingredients they have at home and then recipes are displayed broken down into categories.</p>
        </div>
    </div>