<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%=err.message%></h4>
                <p><%= err.stack %></p>
            </div>
        </div>
    </div>