.footer {
  padding: 4rem 6rem;
  background: #000;
  color: #fff;
}
.facebook{
  color: red;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top i {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
}

.top i:hover {
  color: red;
}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottom div {
  display: flex;
  flex-direction: column;
}
.bottom h3 {
  font-size: 1.2rem;
  padding: 1 0 0.8 0;
}
.bottom a {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  padding-top: 0.1rem;
  font-size: 1.1rem;
}
@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }
  .footer i {
    margin: 1rem 1rem 0 0;
  }

  .bottom div {
    width: 50%;
  }
}
