*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
 }
 body{
    background-image: url(home\ image\ 1.png);    
    background-repeat: no-repeat;
    background-size: cover;
 }
 nav{
    width: 96%;
    margin: 28px;
    display: flex;
    justify-content: space-between;
    
    }
    nav ul li{
        
        display: inline-block;
        margin: 0 10px;
        
    }
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: medium;
        font-weight: bold;
        padding: 15px;
       
        border-radius: 12px;
        cursor: pointer;
        
    }
    .logo{
        width: 200px;
    }
    a:hover{
   
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    } 
    h1{
        font-size: 30px;
    }
    
    .container
    {
        margin: 40px;
    }
    .btn{
        background-color: black;
        color: white;
        margin-left: 50px;
        border-radius: 10px;
        font-size: x-large;
        padding: 5px;
        width: 100px;
    }
    .btn:hover{
        color: white;
        background-color: rgb(28, 97, 132);
    }
    
    