.logo{
    width: 200px;
}
body{
    background-image: url(journal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
 }
 nav{
    width: 98%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
 }
 nav ul li{
        
    display: inline-block;
    margin: 0 15px;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size:medium;
    font-weight: bold;
    padding: 15px;
   
    border-radius: 12px;
    cursor: pointer;
    
}
a:hover{
   
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
} 
#submit{
    background-color: black;
        color: white;
       margin-left: 150px;
       
        border-radius: 10px;
        font-size: x-large;
        padding: 5px;
        width: 150px;
 }
 #submit:hover{
    color: white;
        background-color: rgb(28, 97, 132);
 }
 form{
    
    font-size: large;
 }
 
 
 .demo1{
   padding: 10px;
   width: 51.5%;
   margin-left: 26%;
} 
.lblform{
margin-left: 26%;
}
.demo{
    margin-left: 26%;
    padding: 10px;
    width: 50%;
 }
#submit{
    background-color: black;
        color: white;
       margin-left: 45%;
       
        border-radius: 10px;
        font-size: x-large;
        padding: 5px;
        width: 150px;
 }
 #submit:hover{
    color: white;
        background-color: rgb(28, 97, 132);
 }
 #pat{
    text-decoration: none;
    background-color: rgb(236, 93, 4);
     color: white;
     font-size:medium;
     font-weight: bold;
     padding: 15px;
    
     border-radius: 12px;
     cursor: pointer;
 }
 #pat:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
 }