*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
 }
 body{
    background-image: url(home\ image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 nav{
    width: 98%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    
    }
    nav ul li{
        
        display: inline-block;
        margin: 0 15px;
        
    }
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size:medium;
        font-weight: bold;
        padding: 15px;
       
        border-radius: 12px;
        cursor: pointer;
        
    }
    .logo{
        width: 200px;
    }
    a:hover{
   
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    } 
    h1{
        font-size: 30px;
        margin: 35px;
    }
    
    