<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry2Plate</title>

    <!-- ICON -->
    <link rel="icon" href="/images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/f1d0426038.js" crossorigin="anonymous"></script>

    <!-- BOILERPLATE CSS -->
    <link href="/stylesheets/boilerplate.css" rel="stylesheet">

</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
        <main class="container mt-5">
            <%- include('../partials/flash') %> <!-- connect-flash -->
                <%- body %>
        </main>

        <%- include('../partials/footer') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous">
                </script>

            <script src="/javascripts/validateForms.js"></script>
            <script src="/javascripts/boilerplate.js"></script>

</body>

</html>