<footer class="footer footer-expand-lg bg-body-tertiary py-3 mt-auto text-center" data-bs-theme="dark">
    <div class="container">
        <a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank"><i
            class="last fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="last fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/login" target="_blank"><i class="last fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview&trk=login_reg_redirect"
            target="_blank"><i class="last fab fa-linkedin-in"></i></a>
        <br>
        <span class="text-muted">&copy; Copyright 2023 Pantry2Plate</span>
    </div>
</footer>