.search__bar {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: max-content;
    margin-top: 50px;
}

.form__group span{
    font-size: 1.8rem;
    color: var(--secondary-color);
}

.form__group input {
    border: none;
    font-size:I.9rem;
    color: var(--heading-color);
}

.form__group input:focus {
    outline: none;
}

.form__group h6 {
    margin-bottom: 0;
}

.form__group-fast {
    border-right: 2px solid #ddd;
}

.search_icon i {
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color:#fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
}