{%load static%}
<!--NAv bar-->
{%if user.is_authenticated%}
<div class="row text-light bg-black d-flex justify-content-start" style="text-align:start; justify-content:center; align-items:center;display:flex;">
  <ul class="nav navbar border-body text-light container-fluid" style="background-color: black; color:white">
    <ul>
      <div class="col">
        <li class="nav-item fs-1 fw-bold d-flex">
          <a class="nav-link active" aria-current="page" href="{%url 'index' %}" style="color: white;">
            <img src="{%static '/img/logo.jpg'%}" alt="Logo" width="70" height="70"
              class="d-inline-block"><span style="background-image:url(https://i.pinimg.com/originals/f9/6d/fb/f96dfb9f9d4e0b42af3888de8b9473a7.gif);background-size:cover;background-position:center;background-clip:text;-webkit-background-clip:text;color:transparent;font-weight:1000">SIGMA</span> 
          </a>
        </li>
      </div>
    </ul>
    <ul>
      <div class="col d-flex justify-content-start">
        <h1 style="color: white; ">Hi <a href="{% url 'dashboard1'%}" style="color: rgb(238, 238, 238);text-decoration: none;">{{user.first_name}}</a> Welcome to SIGMA</h1>
      </div>
    </ul>
    <ul>
      <div class="col d-flex justify-content-start" >
        <li class="nav-item fs-1 fw-bold d-flex justify-content-end">
          <a class="btn btn-primary btn-lg rounded-pill"
            href="javascript:{document.getElementById('logout').submit()}" style="color: white;">Logout</a>
          <form action="{%url 'logout' %}" method="POST" id="logout">
            {%csrf_token%}
            <input type="hidden">
          </form>
        </li>
        <ul></ul>
        <li class="nav-item fs-1 fw-bold d-flex justify-content-end ">
          <a class="btn btn-primary btn-lg rounded-pill" href="{%url 'register' %}" style="color: white;">Sign Up</a>
        </li>
      </div>
    </ul>
  </ul>
  {% include 'partials/_alerts.html'%}
</div>

{%else%}
<div class="row text-light bg-black" style="align-items: flex-start;">
  <ul class="nav navbar text-light " style="background-color:rgb(0, 0, 0);">
      <li class="nav-item fs-1 fw-bold d-flex">
        <a class="nav-link active" aria-current="page" href="{%url 'index' %}" style="color: white;">
          <img src="{%static '/img/logo.jpg'%}" alt="Logo" width="60" height="60"
            class="d-inline-block align-text-top"><span style="padding: 1vh;background-image:url(https://i.pinimg.com/originals/f9/6d/fb/f96dfb9f9d4e0b42af3888de8b9473a7.gif);background-size:cover;background-position:center;background-clip:text;-webkit-background-clip:text;color:transparent;font-weight:1000">SIGMA</span>
        </a>
      </li>
    <ul>
        <h2 style="color: rgb(182, 178, 178); font-family: 'Noto Serif', serif;font-weight:900; padding-top:2mm;padding-right:1mm">
          Student
          Informal Guidance Monitoring Assessment</h2>
    </ul>
    <ul>
      <div class="col d-flex justify-content-start">
        <li class="nav-item fs-1 fw-bold d-flex justify-content-end">
          <a class="btn btn-primary btn-lg rounded-pill" href="{%url 'login'%}"><span style="padding: 2mm;">Login</span></a>
        </li>
        <ul></ul>
        <li class="nav-item fs-1 fw-bold d-flex justify-content-end ">
          <a class="btn btn-primary btn-lg rounded-pill" href="{%url 'register' %}">Sign Up</a>
        </li>
      </div>
    </ul>
  </ul>
  {% include 'partials/_alerts.html'%}
</div>
{%endif%}